# Part I. ETL Pipeline for Pre-Processing the Files

## PLEASE RUN THE FOLLOWING CODE FOR PRE-PROCESSING THE FILES

#### Import Python packages

In [1]:
# Import Python packages 
import pandas as pd
import cassandra
import re
import os
import glob
import numpy as np
import json
import csv

#### Creating list of filepaths to process original event csv data files

In [2]:
# Get your current folder and subfolder event data
filepath = os.getcwd() + '/event_data'

# Create a for loop to create a list of files and collect each filepath
for root, dirs, files in os.walk(filepath):
    # join the file path and roots with the subdirectories using glob
    filepath_list = glob.glob(os.path.join(root,'*'))

#### Processing the files to create the data file csv that will be used for Apache Casssandra tables

In [3]:
# initiating an empty list
data = []

# for every filepath in the file path list
for f in filepath_list:
    # reading csv file
    with open(f, 'r', encoding = 'utf8', newline='') as csv_file:
        csv_reader = csv.reader(csv_file)
        next(csv_reader)    
        for line in csv_reader:
            data.append(line)

# create file called data.csv that will be used to insert data into Apache Cassandra tables
csv.register_dialect('myDialect', quoting=csv.QUOTE_ALL, skipinitialspace=True)
with open('event_data_new.csv', 'w', encoding = 'utf8', newline='') as f:
    writer = csv.writer(f, dialect='myDialect')
    writer.writerow(['artist','firstName','gender','itemInSession','lastName','length','level','location','sessionId','song','userId'])
    for row in data:
        if (row[0] == ''):
            continue
        writer.writerow((row[0], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[12], row[13], row[16]))

In [4]:
# check the number of rows in your csv file
with open('event_data_new.csv', 'r', encoding = 'utf8') as f:
    print(sum(1 for line in f))

6821

# Part II. Complete the Apache Cassandra coding portion of your project. 

## Now you are ready to work with the CSV file titled <font color=red>event_datafile_new.csv</font>, located within the Workspace directory.  The event_datafile_new.csv contains the following columns: 
- artist 
- firstName of user
- gender of user
- item number in session
- last name of user
- length of the song
- level (paid or free song)
- location of the user
- sessionId
- song title
- userId

The image below is a screenshot of what the denormalized data should appear like in the <font color=red>**event_datafile_new.csv**</font> after the code above is run:<br>

<img src="images/image_event_datafile_new.jpg">

#### Creating a Cluster

In [5]:
# This should make a connection to a Cassandra instance your local machine 
# (127.0.0.1)

from cassandra.cluster import Cluster
cluster = Cluster()

# To establish connection and begin executing queries, need a session
session = cluster.connect()

#### Create Keyspace

In [6]:
# TO-DO: Create a Keyspace
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS sparkifydb
    WITH REPLICATION=
       { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"""
    )
except Exception as e:
    print(e)

#### Set Keyspace

In [7]:
# TO-DO: Set KEYSPACE to the keyspace specified above
try:
    session.set_keyspace('sparkifydb')
except Exception as e:
    print(e)

In [8]:
def insert_data(session, file, query, indexes, dtypes):
    '''
    This function insert data into a table from CSV file
    
    INPUT:
    * session, the Apache Cassandra session
    * file, the csv file name
    * query, the insert query statement 
    * indexes, the list of indices to pass to INSERT statement
    * dtypes, the list of data types to convert indices values    
    '''
    assert(len(indexes) == len(dtypes))
    with open(file, encoding = 'utf8') as f:
        csv_reader = csv.reader(f)
        next(csv_reader) # header
        for line in csv_reader:
            session.execute(query, tuple(dtype(line[x]) for x, dtype in zip(indexes, dtypes)))

# Three questions of the data

### 1. Give me the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession  = 4

In [9]:
# Definition of the table that will cover question 1
query = """
        CREATE TABLE IF NOT EXISTS songplays_by_sessionid_iteminsession
        (
            sessionid int
            ,iteminsession int
            ,artist text
            ,song text
            ,length float
            ,primary key(sessionid,iteminsession)
        );
        """

# Execution of the query (includes exception handler)
try:
    session.execute(query)
except Exception as e:
    print(e)

In [10]:
# Generated data file
file = 'event_data_new.csv'

# Column position and data type
indexes = [8, 3, 0, 9, 5]
dtypes = [int, int, str, str, float]

# Query that inserts data from data file to generated table
query = """
        INSERT INTO songplays_by_sessionid_iteminsession(sessionid, iteminsession, artist, song, length)
        VALUES(%s, %s, %s, %s,%s)
        """

# Use the data insert function
# It contains the session in the database, file to handle, query to execute, position in the file and the type of data
insert_data(session, file, query, indexes, dtypes)

In [11]:
# Query that returns the answer to the question
query = """
        SELECT  artist,song,length
        FROM    songplays_by_sessionid_iteminsession
        WHERE   sessionId = 338
                AND itemInSession = 4
"""

# Execution of the query (includes exception handler)
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

# Take the result of the query and convert it to a Pandas dataframe
all_rows = [] 
for row in rows:
    all_rows.append((row.artist, row.song,row.length))
df = pd.DataFrame(all_rows, columns=['artist','song','length'])
df.head()

      artist                             song      length
0  Faithless  Music Matters (Mark Knight Dub)  495.307312

### 2. Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182

In [12]:
# Definition of the table that will cover question 2
query = """
        CREATE TABLE IF NOT EXISTS songplays_by_userid_sessionid_iteminsession
        (
            userid int
            ,sessionid int
            ,iteminsession int
            ,artist text
            ,song text
            ,firstname text
            ,lastname text
            ,primary key((userid,sessionid),iteminsession)
        );
        """

# Execution of the query (includes exception handler)
try:
    session.execute(query)
except Exception as e:
    print(e)

In [13]:
# Query that returns the answer to the question
file = 'event_data_new.csv'

# Column position and data type
indexes = [10, 8, 3, 0, 9, 1, 4]
dtypes = [int, int, int, str, str, str, str]

# Query that inserts data from data file to generated table
query = """
        INSERT INTO songplays_by_userid_sessionid_iteminsession(userid, sessionid, iteminsession, artist, song, firstname, lastname)
        VALUES(%s, %s, %s, %s, %s, %s, %s)
        """

# Use the data insert function
# It contains the session in the database, file to handle, query to execute, position in the file and the type of data
insert_data(session, file, query, indexes, dtypes)

In [14]:
# Query that returns the answer to the question
query = """
        SELECT  artist, song, firstname, lastname
        FROM    songplays_by_userid_sessionid_iteminsession
        WHERE   userid = 10
                AND sessionid = 182
        """

# Execution of the query (includes exception handler)
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

# Take the result of the query and convert it to a Pandas dataframe
all_rows = [] 
for row in rows:
    all_rows.append((row.artist, row.song,row.firstname, row.lastname))
df = pd.DataFrame(all_rows, columns=['artist','song','first_name','last_name'])
df.head()

,artist,song,first_name,last_name
0,Down To The Bone,Keep On Keepin' On,Sylvie,Cruz
1,Three Drives,Greece 2000,Sylvie,Cruz
2,Sebastien Tellier,Kilometer,Sylvie,Cruz
3,Lonnie Gordon,Catch You Baby (Steve Pitron & Max Sanna Radio...,Sylvie,Cruz

### 3. Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

In [15]:
# Definition of the table that will cover question 3
query = """
        CREATE TABLE IF NOT EXISTS songplays_by_song_userid
        (
            song text
            ,userid int
            ,firstname text
            ,lastname text
            ,primary key((song),userid)
        );
        """

# Execution of the query (includes exception handler)
try:
    session.execute(query)
except Exception as e:
    print(e)

In [16]:
# Generated data file
file = 'event_data_new.csv'

# Column position and data type
indexes = [9, 10, 1, 4]
dtypes = [str, int, str, str]

# Query that inserts data from data file to generated table
query = """
        INSERT INTO songplays_by_song_userid(song, userid, firstname, lastname)
        VALUES(%s, %s, %s, %s)
        """

# Use the data insert function
# It contains the session in the database, file to handle, query to execute, position in the file and the type of data
insert_data(session, file, query, indexes, dtypes)

In [17]:
# Query that returns the answer to the question
query = """
        SELECT  firstname, lastname, song
        FROM    songplays_by_song_userid
        WHERE   song = 'All Hands Against His Own'
        """

# Execution of the query (includes exception handler)
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

# Take the result of the query and convert it to a Pandas dataframe
all_rows = []
for row in rows:
    all_rows.append((row.firstname, row.lastname, row.song))
df = pd.DataFrame(all_rows, columns=['firstname', 'lastname', 'song'])
df.head()

    firstname lastname                       song
0  Jacqueline    Lynch  All Hands Against His Own
1       Tegan   Levine  All Hands Against His Own
2        Sara  Johnson  All Hands Against His Own

### Drop the tables before closing out the sessions

In [18]:
def drop_tables(tables):
    for table in tables:
        query = "DROP TABLE "+table
        try:
            session.execute(query)
        except Exception as e:
            print(e)

In [19]:
table_names = ['songplays_by_sessionid_iteminsession', 'songplays_by_userid_sessionid_iteminsession', 'songplays_by_song_userid']
drop_tables(table_names)

### Close the session and cluster connectionÂ¶

In [20]:
session.shutdown()
cluster.shutdown()