In [1]:
%load_ext sql

In [2]:
DWH_DB_USER = 'awsuser'
DWH_DB_PASSWORD = 'xxxxxxxxxxxxxxx'
DWH_ENDPOINT = 'redshift-cluster-1.xxxxxxxxxxxxx.us-west-2.redshift.amazonaws.com'
DWH_PORT = '5439'
DWH_DB = 'dev'

In [3]:
import os
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://awsuser:Cuidameatodos123$$@redshift-cluster-1.cmm5x2k7boy7.us-west-2.redshift.amazonaws.com:5439/dev

'Connected: awsuser@dev'

In [38]:
%%sql
select count(*) from public.time

 * postgresql://awsuser:***@redshift-cluster-1.cmm5x2k7boy7.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(8056,)]

In [39]:
%%sql
select * from pg_table_def where tablename = 'users';

 * postgresql://awsuser:***@redshift-cluster-1.cmm5x2k7boy7.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('public', 'users', 'user_id', 'integer', 'az64', False, 0, True),
 ('public', 'users', 'first_name', 'character varying(256)', 'lzo', False, 0, True),
 ('public', 'users', 'last_name', 'character varying(256)', 'lzo', False, 0, True),
 ('public', 'users', 'gender', 'character(1)', 'lzo', False, 0, False),
 ('public', 'users', 'level', 'character varying(256)', 'lzo', False, 0, False)]